body {
  background-color: whitesmoke;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  background-color: seagreen;
}

h1 {
  margin: 0;
  font-family: "Agu Display", Arial, Helvetica, sans-serif;
  font-size: 4rem;
}

.hidden {
  display: none !important;
}

#creatures li {
  display: flex;
  width: 700px;
  gap: 50px;
  justify-content: space-around;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  align-items: center;
}

#creatures p {
  text-align: left;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

.icon>img {
  width: 100px;
  height: 150px;
}

.icon>span {
  font-family: "Agu Display", Arial, Helvetica, sans-serif;
}

#creatures button {
  flex-shrink: 0;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 12px;
  width: 120px;
  height: 70px;
  font-family: "Agu Display", Arial, Helvetica, sans-serif;
}

#heroes li {
  display: flex;
  gap: 50px;
  flex-shrink: 0;
  width: 700px;
  min-height: 150px;
  align-items: center;
  justify-content: center;
  font-family: "Agu Display", Arial, Helvetica, sans-serif;
}

#heroes img {
  width: 60px;
  height: 60px;
}

h5 {
  width: 150px;
  font-size: 16px;
}

#heroes span {
  display: none;
}

.scroll {
  width: 77px;
  height: 40px;
  background: url(images/rolled\ up\ script.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 12px;
  border: 1px solid green;
}

.scroll:not(:hover) {
  filter: brightness(50%);
  transition: 400ms;
}

.scroll:hover {
  transition: 400ms;
  cursor: pointer;
}